{% extends "base.html" %}
{% block content %}
 
        <form method="POST" action="">
            <div class="container" style="border: 4px solid rgb(174, 250, 33); padding: 8px; width:50%;">

            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{field.label_tag}}
                {{field}}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="background-color: deeppink; border-color: deeppink;" value="signup">SignUp</button>
            </div>
        </form>

{% endblock content %}