{% extends "base.html" %}

{% block  content%}%
 <div class="container"  style="width: 50%;">
    
    {% for tweet in tweets %}
        <div class="card" style="padding:10px;">
            <div class="card-header" style="background-color: deeppink;">
               <h4>{{tweet.username}}</h4> 
            </div>
            <div class="card-body" style="background-color: rgb(174, 250, 33); color:rgb(37, 2, 90)">
                <p class="card-text">{{tweet.message}}</p>
            </div>
            {% if tweet.username == user %}
            <a href="{% url 'tweetapp:deletetweet' id=tweet.id %}" class="btn btn-primary" style="background-color: rgb(77, 24, 224); border-color: rgb(77, 24, 224);
            color:chartreuse">Delete</a>
            {% endif %} 
        </div>
    {% endfor %} 
    
</div>
{% endblock  %}
